@import '@/app/styles/variables/breakpoints';

h1, .h1 {
  letter-spacing: -1.7rem;
  font: var(--font-h1);

  &.variant {
    @media (width <= $breakpoint-mob) {
      font-size: 28rem;
    }
  }
}

h2, .h2 {
  font: var(--font-h2);
}

h3, .h3 {
  font: var(--font-h3);
}

h4, .h4 {
  letter-spacing: -1.4rem;
  font: var(--font-h4);

  &.variant {
    font-size: 32rem;
    @media (width <= $breakpoint-mob) {
      font-size: 28rem;
    }
  }
}

h5, .h5 {
  font: var(--font-h5);
  letter-spacing: -0.56rem;
}

p, li {
  letter-spacing: -0.56rem;
  font: var(--font-m);

  strong {
    font: var(--font-l);
  }

  small {
    font: var(--font-s);
  }
}

a {
  font: var(--link-s);
  color: var(--primary-text);
}