@import '@/app/styles/variables/breakpoints';

:root {
  // HEADINGS
  --font-h1: 500 72rem / 110% var(--font-family-primary);
  --font-h2: 500 48rem / 100% var(--font-family-primary);
  --font-h3: 500 36rem / 100% var(--font-family-primary);
  --font-h4: 500 28rem / 100% var(--font-family-primary);
  --font-h5: 500 24rem / 150% var(--font-family-primary);

  // BODY
  --font-l: 400 20rem / 150% var(--font-family-secondary);
  --font-m: 400 18rem / 150% var(--font-family-secondary);
  --font-s: 400 16rem / 150% var(--font-family-secondary);

  // OTHER

  // COLORS
  --pink-primary: #BE44D2;
  --pink-primary-bright: #FF55E7;
  --pink-secondary: #F8EFF9;
  --pink-light: #FEF9FD;

  // Primary text colors
  --primary-text: #011F63;
  --secondary-text: #465C8D;
  --white: #fff;

  // BASE ANIMATIONS
  --ease: ease;
  --duration: 1s;
  --duration-hover: 0.5s;
  --hover-delay: 0.2s;
}

@media (width <= $breakpoint-mob) {
  :root {
    // HEADINGS
    --font-h1: 500 44rem / 110% var(--font-family-primary);
    --font-h4: 500 20rem / 120% var(--font-family-primary);
    --font-h5: 500 20rem / 120% var(--font-family-primary);
    // BODY
    --font-s: 400 14rem / auto var(--font-family-secondary);
  }
}
