@import '@/app/styles/variables/breakpoints';

.text-field {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 23rem;

  &.__error {
    .text-field {
      &__input {
        border: 1rem solid var(--red);
      }
    }
  }

  &__input {
    width: 100%;
    padding: 20rem 40rem 20rem 32rem;
    color: var(--primary-text);
    font: var(--font-s);
    border: 1rem solid var(--grey-dark);
    border-radius: 18rem;

    @media (width<=$breakpoint-mob) {
      padding: 18rem 40rem 18rem 12rem;
      font-size: 16rem;
      line-height: 150%;
      border-radius: 12rem;
    }

    &::placeholder {
      color: var(--grey-dark);
    }

    &:focus {
      border: 1rem solid var(--pink-primary);
    }
  }

  &__passwordIcon{
    position: absolute;
    top: 25rem;
    right: 20rem;
    width: 20rem;
    height: 20rem;
    cursor: pointer;

    @media (width<=$breakpoint-mob) {
      top: 23rem;
    }
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}