@import '@/app/styles/variables/breakpoints';

.buttonPrimary {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8rem 8rem 8rem 24rem;
  color: var(--white);
  font: var(--font-s);
  white-space: nowrap;
  background-color: var(--pink-primary);
  border-radius: 16rem;

  .icon-wrapper{
    position: relative;
    width: 40rem;
    height: 40rem;
    margin: 0 0 0 12rem;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 12rem;
    content: '';

    .cross{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16rem;
      height: 10rem;
      transform: translateX(-50%) translateY(-50%);
    }

    @media (width<=$breakpoint-mob) {
      width: 28rem;
      height: 28rem;
      margin: 0 0 0 8rem;
      border-radius: 8rem;
    }
  }

  &.arrow {
    .icon-wrapper {
      &::before, &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24rem;
        height: 24rem;
        background-image: url("/icons/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: var(--duration-hover) var(--ease) var(--hover-delay);
        content: '';

        @media (width<=$breakpoint-mob) {
          width: 16rem;
          height: 16rem;
        }
      }

      &::before {
        transform: translateX(-12rem) translateY(-50%);
        opacity: 1;

        @media (width<=$breakpoint-mob) {
          transform: translateX(-50%) translateY(-50%);
        }
      }

      &::after {
        transform: translateX(-50rem) translateY(-50%);
        opacity: 0;

        @media (width<=$breakpoint-mob) {
          display: none;
        }
      }
    }

    @media (width>$breakpoint-mob) {
      &:hover {
        .icon-wrapper {
          &::before {
            transform: translateX(50rem) translateY(-50%);
            opacity: 0;
          }

          &::after {
            transform: translateX(-12rem) translateY(-50%);
            opacity: 1;
          }
        }
      }
    }
  }

  @media (width<=$breakpoint-mob) {
    padding: 6rem 6rem 6rem 14rem;
    border-radius: 10rem;
  }
}
