@import '@/app/styles/variables/breakpoints';

.latestListing {
  margin: 120rem 0;

  @media (width<=$breakpoint-mob) {
    margin: 95rem 0;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &_top {
      display: flex;

      @media (width<=$breakpoint-mob) {
        display: block;
      }

      .heading {
        flex: 1 0;

        @media (width<=$breakpoint-mob) {
          flex: initial;
        }
      }

      .cityList {
        display: flex;
        gap: 4rem;
        align-items: flex-end;

        @media (width<=$breakpoint-mob) {
          align-items: initial;
          margin: 32rem -16rem 0 0;
          overflow: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;

          // hide scroll

          &::-webkit-scrollbar {
            display: none;
          }

          // hide scroll
        }

        &__item {
          padding: 0 12rem;
          font-size: var(--font-s);
          letter-spacing: 0.56rem;

          @media (width>$breakpoint-mob) {
            &:hover{
              .cityList {
                &__item {
                  &_link {
                    color: var(--pink-primary);
                  }
                }
              }
            }
          }

          @media (width<=$breakpoint-mob) {
            font-size: 16rem;
          }

          &_link {
            color: var(--secondary-text);
            transition: var(--duration-hover) var(--ease);
          }
        }
      }
    }

    &_bottom {
      position: relative;
      margin: 78rem 0;

      @media (width<=$breakpoint-mob) {
        margin: 32rem 0 40rem;
      }

      .slider {
        position: relative;

        @media (width<=$breakpoint-mob) {
          margin: 0 -16rem;
        }

        &__slide {
          width: 416rem;

          @media (width<=$breakpoint-mob) {
            width: 255rem;
          }

          &_image {
            height: 416rem;
            overflow: hidden;
            border-radius: 24rem;

            @media (width<=$breakpoint-mob) {
              height: 255rem;
              border-radius: 15rem;
            }
          }

          &_title {
            margin: 16rem 0 0;
          }

          &_description {
            display: -webkit-box;
            margin: 12rem 0 0;
            overflow: hidden;
            font: var(--font-s);
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            @media (width<=$breakpoint-mob) {
              font-size: 10rem;
            }
          }
        }
      }

      .arrow {
        position: absolute;
        top: 208rem;
        left: -32rem;
        z-index: 2;
        transform: translateY(-50%);

        @media (width<=$breakpoint-mob) {
          display: none;
        }

        &.next {
          right: -32rem;
          left: initial;
          transform: translateY(-50%) rotate(180deg);
        }
      }

    }

    .button {
      align-self: center;
    }
  }
}