@import '@/app/styles/variables/breakpoints';

.dontMissOut {
  position: relative;
  margin: 120rem 0 0;
  overflow: hidden;

  @media (width<=$breakpoint-mob) {
    margin: 80rem 0 0;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 187rem 0;
    overflow: hidden;
    background-color: var(--grey-primary);
    border-radius: 20rem;

    @media (width<=$breakpoint-mob) {
      padding: 59rem 35rem;
      background-color: initial;
      background-image: url("/images/gradient.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &_text{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .button {
        align-self: center;
        margin: 40rem 0 0;
      }
    }
  }
}