@import '@/app/styles/variables/breakpoints';

.bookBlumi {
  margin: 120rem 0;

  @media (width<=$breakpoint-mob){
    margin: 40rem 0;
  }

  &__content {
    display: flex;
    margin: 78rem 0 0;

    @media (width<=$breakpoint-mob){
      flex-direction: column;
      margin: 32rem 0 0;
    }

    .list {
      flex: 1 0;
      margin: 0 190rem 0 0;

      @media (width<=$breakpoint-mob){
        flex: initial;
        margin: 0;
      }

      &__item {
        position: relative;
        padding: 36rem 76rem 36rem 20rem;
        border-radius: 24rem;
        cursor: pointer;

        @media (width<=$breakpoint-mob){
          padding: 20rem 52rem 20rem 12rem;
          border-radius: 12rem;
        }

        &.active {
          background-color: var(--pink-secondary);

          .list {
            &__item {
              &_icon {
                background-color: var(--pink-primary);
              }
            }
          }
        }

        &_icon {
          position: absolute;
          top: 50%;
          right: 16rem;
        }
      }
    }

    .list-images {
      position: relative;
      flex: 0 0 553rem;
      height: 657rem;

      @media (width<=$breakpoint-mob){
        flex: initial;
        box-sizing: content-box;
        height: 500rem;
        padding: 76rem 0 0;
      }

      &__item {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: var(--duration) var(--ease);

        @media (width<=$breakpoint-mob){
          top: 76rem;
          width: 100%;
        }

        &.active {
          z-index: 2;
          opacity: 1;
          transition-delay: var(--hover-delay);
        }

        .image {
          width: 553rem;
          height: 553rem;
          overflow: hidden;
          border-radius: 24rem;

          @media (width<=$breakpoint-mob){
            width: 100%;
            height: 395rem;
            border-radius: 12rem;
          }
        }

        .description {
          display: -webkit-box;
          max-width: 543rem;
          margin: 32rem 0 0;
          overflow: hidden;
          color: var(--secondary-text);
          font: var(--font-s);
          text-align: right;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;

          @media (width<=$breakpoint-mob){
            margin: 12rem 0 0;
            text-align: center;
            -webkit-line-clamp: 4;
          }
        }
      }
    }
  }
}