@import '@/app/styles/variables/breakpoints';

.errorMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--grey-dark);
  font-size: 12rem;
  line-height: 100%;

  &.__error{
    svg {
      color: var(--red);
    }
  }

  @media (width<=$breakpoint-mob) {
    font-size: 10rem;
  }

  svg {
    width: 16rem;
    height: 16rem;
    margin: 0 4rem 0 0;
    color: var(--primary-text);
    vertical-align: -3rem;

    @media (width<=$breakpoint-mob) {
      vertical-align: -4rem;
    }
  }
}