@import '@/app/styles/variables/breakpoints';

.form {
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
  }

  &__button {
    width: 100%;
    margin: 32rem 0 0;

    @media (width<=$breakpoint-mob) {
      margin: 12rem 0 0;
    }
  }

  &__bottom-subtext {
    margin: 12rem 0;
    color: var(--red);
    text-align: center;

    @media (width<=$breakpoint-mob) {
      margin: 8rem 0;
    }
  }

  //
  //&__bottom-text {
  //  margin: 12rem 0 0;
  //  font-size: 12rem;
  //  text-align: center;
  //
  //  @media (width<=$breakpoint-mob) {
  //    font-size: 14rem;
  //  }
  //}
}