@import '@/app/styles/variables/breakpoints';

.thingsWondering{
  margin: 120rem 0;

  @media (width<=$breakpoint-mob){
    margin: 80rem 0;
  }

    &__content{
      display: flex;
      gap: 40rem;

      @media (width<=$breakpoint-mob){
        flex-direction: column;
      }

      &_text{
        display: flex;
        flex: 0 1 50%;
        flex-direction: column;

        .smallHeading{
          max-width: 344rem;
          margin: 84rem 0 0;

          @media (width<=$breakpoint-mob){
            margin: 10rem 0 0;
          }
        }

        .link{
          align-self: flex-start;
          margin: 40rem 0 0;

          @media (width<=$breakpoint-mob){
            margin: 28rem 0 0;
          }

        }
      }

      &_list{
        flex: 0 1 50%;
      }
    }
}

.desk-view {
  @media (width<=$breakpoint-mob) {
    display: none;
  }
}

.mobile-view {
  display: none;

  @media (width<= $breakpoint-mob) {
    display: block;
    margin: 36rem 0 0;
  }
}