@import '@/app/styles/variables/breakpoints';

.heading {
  &.small{
    .heading{
      &__title{
        @media (width<=$breakpoint-mob) {
          font-size: 28rem;
        }
      }
    }
  }

  &.centred {
    text-align: center;

    .heading {
      &__subText {
        margin: 32rem auto 0;

        @media (width<=$breakpoint-mob) {
          margin: 20rem auto 0;
        }
      }

      &__title {
        justify-content: center;
      }
    }
  }

  &__title {
    margin: 12rem 0 0;

    @media (width<=$breakpoint-mob) {
      margin: 22rem 0 0;
    }
  }

  &__subText {
    max-width: 540rem;
    margin: 32rem 0 0;
    color: var(--secondary-text);
    font: (var(--font-s));

    &.smallMargin{
      margin: 12rem 0 0;
      font-size: 14rem;
    }

    @media (width<=$breakpoint-mob) {
      margin: 20rem 0 0;
      font-size: 16rem;
    }
  }
}