@import '@/app/styles/variables/breakpoints';

.form {
  position: relative;
  margin: 24rem 0 0;

  @media (width<=$breakpoint-mob) {
    margin: 28rem 0 0;
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
  }
}
