@import '@/app/styles/variables/breakpoints';

.submenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  @media (width<=$breakpoint-mob) {
    z-index: 11;
  }

  .clickArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0%);
    transition: background-color var(--duration) var(--ease);
    content: '';
  }

  &.active {
    pointer-events: initial;

    .clickArea {
      background-color: rgb(0 0 0 / 30%);
    }

    .menu {
      transform: translateY(0);
      opacity: 1;

      @media (width<=$breakpoint-mob) {
        transform: translateX(0);
      }
    }
  }

  .container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40rem;

    @media (width<=$breakpoint-mob) {
      height: 100%;
      padding: 0;
    }
  }

  .menu {
    position: relative;
    z-index: 2;
    width: 279rem;
    margin: 89rem 0 0;
    padding: 24rem;
    background-color: var(--white);
    border: 1rem solid var(--pink-secondary);
    border-left: 1rem solid (var(--pink-secondary));
    border-radius: 16rem;
    transform: translateY(50rem);
    opacity: 0;
    transition: var(--duration) var(--ease);

    @media (width<=$breakpoint-mob) {
      width: 320rem;
      height: 100%;
      min-height: 100%;
      margin: 0;
      padding: 21rem;
      overflow-y: auto;
      border-radius: 0;
      transform: translateY(0) translateX(50rem);
    }

    .submenu-cross {
      position: absolute;
      top: 14rem;
      right: 0;
      display: block;
      padding: 16rem;

      @media (width>$breakpoint-mob) {
        display: none;
      }
    }

    &__title {
      padding: 0 0 24rem;
      font-size: 32rem;
      border-bottom: 1rem solid var(--pink-secondary);

      @media (width<=$breakpoint-mob) {
        padding: 0 0 7rem;
        font-size: 28rem;
        line-height: 100%;
      }
    }

    .list {
      padding: 24rem 0;
      border-bottom: 1rem solid var(--pink-secondary);

      @media (width<=$breakpoint-mob) {
        padding: 12rem 0;
      }

      &:last-child {
        padding: 24rem 0 0;
        border-bottom: initial;

        @media (width<=$breakpoint-mob) {
          padding: 12rem 0 0;
        }
      }

      &__title {
        margin: 0 0 12rem;
        color: var(--secondary-text);
        font-size: 24rem;

        @media (width<=$breakpoint-mob) {
          font-size: 20rem;
        }
      }

      .list-inner {
        &__item {
          margin: 0 0 8rem;
          font-size: 16rem;

          &:last-child {
            margin: 0;
          }

          &_link {
            color: var(--pink-primary);
            opacity: 1;
            transition: opacity var(--duration-hover) var(--ease);

            @media (width>$breakpoint-mob) {
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
  }
}
