@import '@/app/styles/variables/breakpoints';

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 47rem 0 16rem;
  transition: background-color var(--duration) var(--ease);

  @media (width<=$breakpoint-mob){
    padding: 20rem 0;
  }

  &.scrolled{
    background-color: rgb(255 255 255 / 90%);
  }

  .container {
    padding: 0 40rem;

    @media (width<=$breakpoint-mob){
      padding: 0 16rem;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;

    @media (width<=$breakpoint-mob){
      justify-content: space-between;
    }

    &_logo {
      flex: 0 0 103rem;
      height: 40rem;

      @media (width<=$breakpoint-mob){
        flex: 0 0 93rem;
        height: 36rem;
      }
    }

    .navigation {
      display: flex;
      flex: 1 0;
      gap: 20rem;
      margin: 0 0 0 113rem;

      @media (width<=$breakpoint-mob){
        display: none;
      }

      &__link {
        color: var(--primary-text);
        transition: color var(--duration-hover) var(--ease);

        @media (width>$breakpoint-mob) {
          &:hover {
            color: var(--pink-primary);
          }
        }
      }
    }

    .button{
      @media (width<=$breakpoint-mob){
        display: none;
      }
    }

    .mobile-cross{
      display: none;

      @media (width<=$breakpoint-mob){
        position: relative;
        top: initial;
        left: initial;
        display: block;
        transform: initial;
      }
    }
  }
}