@import '@/app/styles/variables/breakpoints';

.item {
  border-bottom: 1rem solid var(--grey-primary);

  &__title {
    position: relative;
    padding: 24rem 100rem 24rem 24rem;
    color: var(--primary-text);
    border-radius: 12rem;
    cursor: pointer;

    @media (width<=$breakpoint-mob){
      padding: 18rem 76rem 18rem 18rem;
    }

    &.active {
      background-color: var(--black-faq);

      .item{
        &__title{
          &_arrow{
            background-color: var(--pink-primary);
            transform: translate3d(0, -50%, 0) rotateZ(90deg);
          }
        }
      }
    }

    &_arrow{
      position: absolute;
      top: 50%;
      right: 24rem;
      transform: translate3d(0, -50%, 0) rotateZ(-90deg);
      transition: var(--duration) var(--ease);
      content: '';

      @media (width<=$breakpoint-mob){
        right: 12rem;
      }
    }

  }

  &__dropdownMenu {
    &_description {
      .text {
        max-width: 502rem;
        padding: 0 0 32rem 24rem;
        color: var(--secondary-text);

        @media (width<=$breakpoint-mob){
          padding: 0 0 18rem 18rem;

        }
      }
    }
  }
}