@import '@/app/styles/variables/breakpoints';

.footer {
  &__content {
    padding: 40rem 0;

    @media (width<=$breakpoint-mob){
      padding: 40rem 0 16rem;
    }

    &_top {
      display: flex;

      @media (width<=$breakpoint-mob){
        flex-direction: column;
      }

      .logo {
        width: 103rem;
        height: 40rem;
      }

      .columns {
        display: flex;
        margin: 0 0 0 auto;

        @media (width<=$breakpoint-mob){
          justify-content: space-between;
          margin: 60rem 0 0;
        }

        &__column {
          margin: 0 167rem 0 0;

          @media (width<=$breakpoint-mob){
            margin: 0;
          }

          &_nav {
            display: flex;
            flex-direction: column;

            .link {
              margin: 13rem 0 0;
              color: var(--secondary-text);
              font: var(--font-s);
              transition: color var(--duration-hover) var(--ease);

              @media (width<=$breakpoint-mob) {
                font-size: 16rem;
                line-height: 150%;
              }

              @media (width>$breakpoint-mob) {
                &:hover {
                  color: var(--pink-primary);
                }
              }
            }
          }
        }
      }

      .cta {
        max-width: 366rem;

        @media (width<=$breakpoint-mob) {
          margin: 65rem 0 0;
        }
      }
    }

    &_bottom {
      display: flex;
      justify-content: space-between;
      margin: 40rem 0 0;
      padding: 24rem;
      color: var(--secondary-text);
      background-color: var(--pink-secondary);
      border-radius: 16rem;

      @media (width<=$breakpoint-mob){
        flex-direction: column;
        gap: 14rem;
        justify-content: initial;
        margin: 20rem 0 0;
        padding: 18rem;
        text-align: center;
        border-radius: 12rem;
      }

      p {
        font: var(--font-s);
      }
    }
  }
}