@import '@/app/styles/variables/breakpoints';

.title {
  position: relative;

  &__icon{
    position: relative;
    display: inline-block;
    width: 80rem;
    height: 80rem;
    margin: 0 10rem;
    vertical-align: -18rem;

    @media (width<=$breakpoint-mob){
      width: 36rem;
      height: 36rem;
      vertical-align: -9rem;
    }

    &.small{
      width: 40rem;
      height: 40rem;
      margin: 0 7rem;
      vertical-align: -10rem;

      @media (width<=$breakpoint-mob){
        width: 32rem;
        height: 32rem;
        vertical-align: -7rem;
      }
    }
  }
}